<section class="oursecretBox ">
    <div class="container ">
        <div class="row text-small-center">

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 pb-4 our_secret about_us">
                <h2 >About us</h2>
                <p class="margin-bottom mt-2">WebApp is a well-renowned web applications company created for businesses to become more accessible in the digital world.</p>
                <p class="margin-bottom ">Our award-winning bespoke web development service cannot simply be duplicated by “out of the box” solutions. We pride ourselves on our innovative technology, our flair for the digital age, and our passion for what we do.</p>

                <p class="margin-bottom ">Our services include creating Mobile Apps, Web Apps, and Websites, implementing Blockchain technologies, implementing IT Consultation, and outsourcing IT work.  </p>
<!-- 
                <p class="margin-bottom ">Our team of remote and on-site specialists (UI/UX designers, full-stack developers, quality assurance, business analysts) create custom mobile app solutions for iOS and Android mobile platforms, increasing the productivity of your
                    business.
                </p> -->

                <p class="margin-bottom ">From start to completion, we create beautiful and functional digital products, covering product design, documentation, and implementation, as well as front-end and back-end handling.  </p>
                <p class="margin-bottom ">Our regular clients include companies worldwide, and we regularly deliver complex integrations, web applications, and websites for their business needs. No matter the work we do, we will take the time to understand your business objectives truly. </p>
                <!-- <p class="margin-bottom ">We don’t persuasively suggest a particular technology in the hope that it fits your business. We’re technology gurus. We consult and advise on what the best tech is to meet the requirements of your business challenges. If the right technology
                    doesn’t exist, webAPP will create it.</p> -->

                    <div class="why_webapp ">
                        <h2 style="font-size: 3.3rem;">Why WebApp?</h2>
            
                   <p class="margin-bottom mt-2">The foundation of WebApp is built on several core values that ensure consistency and quality in our work. These values enable us to create a genuine impact on the businesses we work with through innovative technology.</p>
                        </div>
                <a [routerLink]="'/contacts'"  class="nav-link moreBtn mb-5 nav-link">More About Us<i class="ti-arrow-right "></i></a>
            </div>

            
           


            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center d-flex justify-content-center home_image_secrat ">
                <img src="../assets/images/mobile-1.png " class=" img-fluid">
            </div>
        </div>

       
    </div>
</section>