.crousal-width {
    min-width: 100%
}

.our_secret {
    color: #fff;
}

.color-acc-me h2 {
    color: #000;
}

.home_image_secrat {
    padding-bottom: 4rem;
    
}

.moreBtn {
    color: #000!important;
}

.why_webapp h2{
  margin-top: 1.5rem;
    text-transform: inherit!important;
}

.about_us h2{
    text-transform: inherit!important;

}

.our_secret h2{
    font-family:"United Sans Cd Hv", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.moreBtn:hover {
    color: #fff!important;
}

@media (max-width: 768px) {
    .oursecretBox .container .text-small-center {
        text-align: center!important;
        font-weight: 100!important;
    }
    .oursecretBox.bg-dark {
        text-align: center!important;
        font-weight: 100;
    }
    .our_secret{
        margin-top: 2.5rem;
        padding-bottom: 0!important;
    }
}