<!-- 3 columns -->
<div class="container-fluid " id="projectSection">
    <div class="row justify-content-center">

        <div class=" col-md-6 col-sm-12 col-lg-4 bg1">

            <div class="project_box  " id="ParallelImage1">


                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                    </div>

                    <div class="project_top_heading">
                        <a style="margin-bottom: -26px;" target="_black"
                            href="https://play.google.com/store/apps/details?id=com.amanotes.pamadancingroad">
                            <h3 class="hover">Color Ball Run!</h3>
                        <img src="../../assets/images/servies/logo-app.png" alt="">

                        </a>
                    </div>

                </div>
                <a target="_black" href="https://play.google.com/store/apps/details?id=com.amanotes.pamadancingroad">
                
                    <div class="project_image_section " data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage1">
                            <div class="project_one_image">
                                <picture class="project_two_mobile ">
                                    <img class="img-fluid image1" src="../../assets/images/product/1.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image SplitImage2">
                            <div class="project_second_image">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/2.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- 2nd col  -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg2">
            <div class="project_box " id="ParallelImage2">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/ludo.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a target="_black" href="https://play.google.com/store/apps/details?id=com.moonfrog.ludo.club">
                            <h3>Fun Dice Game </h3>
                        </a>
                    </div>
                </div>
                <a target="_black" href="https://play.google.com/store/apps/details?id=com.moonfrog.ludo.club">
                    <div class="project_image_section" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage3">
                            <div class="project_one_image">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/3.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image SplitImage4">
                            <div class="project_second_image">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/4.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- ====================================
            3rd col
             ================================== -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg3">
            <div class="project_box ">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/merge-game.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.superbox.aos.fire2048"
                            target="_blank">
                            <h3>Merge Game</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.superbox.aos.fire2048" target="_blank">
                    <div class="project_image_section single_mobile_image" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image mt-0 zoom_image">
                            <div class="project_one_image">
                                <picture class="project_two_mobile ">
                                    <img class=" img-fluid" src="../../assets/images/product/5.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            4rd col laptop section
             ================================== -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg4">
            <div class="project_box ">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Best-Prado-car-parking.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.steelcloudstudio.luxury.prado.car.parking.challenge"
                            target="_blank">
                            <h3>Prado Car Games</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.steelcloudstudio.luxury.prado.car.parking.challenge"
                    target="_blank">
                    <div class="project_image_section_main" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/7.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->


                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/8.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            5rd col
             ================================== -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg5">
            <div class="project_box ">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Bowling-Crew.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.tetrox.bowl" target="_blank">
                            <h3>3D Bowling Game</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.tetrox.bowl" target="_blank">
                    <div class="project_image_section single_mobile_image" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image mt-0 zoom_image">
                            <div class="project_one_image ">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/9.png" alt="">
                                </picture>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        <!-- ====================================
            6rd col
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg6">
            <div class="project_box " id="ParallelImage3">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Hunter-Assassin.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.rubygames.assassin" target="_blank">
                            <h3>Hunter Assassin</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.rubygames.assassin" target="_blank">
                    <div class="project_image_section" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage5">
                            <div class="project_one_image ">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/11.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image SplitImage6">
                            <div class="project_second_image">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/12.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            7rd col  laptop screen
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg7">
            <div class="project_box">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Racing-in-Car-2.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.ffgames.racingincar2"
                            target="_blank">
                            <h3>Racing In Car 2</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.ffgames.racingincar2" target="_blank">
                    <div class="project_image_section_main" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/17.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->


                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/18.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            8rd col
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg8">
            <div class="project_box ">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Duet.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.kumobius.android.duet"
                            target="_blank">
                            <h3>Duet</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.kumobius.android.duet" target="_blank">
                    <div class="project_image_section single_mobile_image" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image mt-0 zoom_image">
                            <div class="project_one_image">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/15.png" alt="">
                                </picture>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            9rd col laptop screen
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg9">
            <div class="project_box ">
                <div class="project_top_section">
                    <!-- <div class="top_logo_image">
                            <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                        </div> -->
                    <div class="project_top_heading">
                        <a href="https://infrawizard.com/ " target="_blank ">
                            <h3>QuizUp Infrawizard</h3>
                        </a>
                    </div>
                </div>

                <a href="https://infrawizard.com/ " target="_blank ">
                    <div class="project_image_section_main" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/26.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->


                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/25.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>



            </div>
        </div>
        <!-- ====================================
            10rd col laptop screen
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg10">
            <div class="project_box ">
                <div class="project_top_section">
                    <!-- <div class="top_logo_image">
                            <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                        </div> -->
                    <div class="project_top_heading">
                        <a href="https://boatequity.com.au/ " target="_blank ">
                            <h3>Boatequity</h3>
                        </a>
                    </div>
                </div>
                <a href="https://boatequity.com.au/ " target="_blank ">
                    <div class="project_image_section_main" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/24.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->


                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/23.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            11rd col
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg11">
            <div class="project_box " id="ParallelImage11">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Block-Puzzle.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=roll.unblock.ball.block.puzzle"
                            target="_blank">
                            <h3>Block Puzzle</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=roll.unblock.ball.block.puzzle" target="_blank">
                    <div class="project_image_section" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage7">
                            <div class="project_one_image">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/13.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image">
                            <div class="project_second_image SplitImage8">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/14.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            12rd col laptop screen
             ================================== -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg12">
            <div class="project_box ">
                <div class="project_top_section">
                    <!-- <div class="top_logo_image">
                            <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                        </div> -->
                    <div class="project_top_heading">
                        <a href="https://www.placepoint.ie/athlone " target="_blank ">
                            <h3 class="text-dark">PlacePoint</h3>
                        </a>
                    </div>
                </div>
                <a href="https://www.placepoint.ie/athlone " target="_blank ">
                    <div class="project_image_section_laptop" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/placepoint.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->
                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/placepoint2.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            13rd col laptop screen
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg13">
            <div class="project_box ">
                <div class="project_top_section">
                    <!-- <div class="top_logo_image">
                            <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                        </div> -->
                    <div class="project_top_heading">
                        <a href="https://tronado.io/ " target="_blank ">
                            <h3>Tronado</h3>
                        </a>
                    </div>
                </div>
                <a href="https://tronado.io/ " target="_blank ">
                    <div class="project_image_section_laptop" data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="project_image_section_laptop">
                            <!-- first image   -->
                            <div class="first_image_laptop">
                                <div class="project_one_image_laptop">
                                    <picture class="project_two_mobile_laptop" _laptop>
                                        <img class="img-fluid" src="../../assets/images/product/21.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <!-- second image   -->


                        <div class="second_image_laptop">
                            <div class="project_second_image_laptop">
                                <picture class="project_second_mobile_laptop">
                                    <img class="img-fluid" src="../../assets/images/product/22.png" alt="">
                                </picture>
                            </div>
                        </div>


                    </div>
                </a>
            </div>
        </div>

        <!-- ====================================
            14rd col
             ================================== -->
        <div class=" col-md-6 col-sm-12 col-lg-4 bg14">
            <div class="project_box " id="ParallelImage14">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/Color-Ball-Run-logo.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.word.wordsort" target="_blank">
                            <h3>Word Sort</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.word.wordsort" target="_blank">
                    <div class="project_image_section " data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage14">
                            <div class="project_one_image">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid image1" src="../../assets/images/product/27.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image SplitImage14_">
                            <div class="project_second_image">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/28.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <!-- ====================================
            15rd col
             ================================== -->
        <div class="col-md-6 col-sm-12 col-lg-4 bg15 ">
            <div class="project_box " id="ParallelImage15">
                <div class="project_top_section">
                    <div class="top_logo_image">
                        <img src="../../assets/images/product/heading/crazy-cannon.png" alt="">
                    </div>
                    <div class="project_top_heading">
                        <a href="https://play.google.com/store/apps/details?id=com.webapp.CrazyCannon" target="_blank">
                            <h3>Crazy cannon</h3>
                        </a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.webapp.CrazyCannon" target="_blank">
                    <div class="project_image_section " data-aos="zoom-in">
                        <!-- first image   -->
                        <div class="first_image SplitImage15">
                            <div class="project_one_image">
                                <picture class="project_two_mobile">
                                    <img class="img-fluid image1" src="../../assets/images/product/29.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <!-- second image   -->
                        <div class="second_image SplitImage15_">
                            <div class="project_second_image">
                                <picture class="project_second_mobile">
                                    <img class="img-fluid" src="../../assets/images/product/30.png" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>