
<main class="main">
    <section class="m-block m-block--auto m-block--angle-next m-block--center m-block-hero back-aco-me" style="--angle-next:2; --block-bg:var(--c-lightest, var(--c-light)); --block-color:var(--c-dark); --block-icon-bg:var(--c-lightest, var(--c-light)); --block-accent:var(--c-accent); --block-list-number:var(--c-accent); --block-list-dash:var(--c-accent); --block-color-semi:0.667; --block-form-border:rgba(22, 22, 22, 0.25); --block-form-error:var(--c-accent); --block-quote-opacity:0.825;">
        <div class="m-block__bg m-block__bg--lightest">

        </div>
        <div class="group group--s-top-half group--s-bottom-half m-block__content">
            <h1 class="m-heading m-heading--h1   m-heading--s-top-full m-heading--s-bottom-full padding-custom"><span class="m-heading__span m-heading__span--1">Check Out a Few</span><span class="m-heading__span m-heading__span--2">Recent Projects</span></h1>
            <div class="">
                <p class="m-paragraph m-paragraph--large m-paragraph--s-top-full m-paragraph--s-bottom-none">From award-winning iOS and Android app development to elegant, seamless web development, we build products that thrive at the intersection of business goals and user needs.</p>
            </div>
        </div>

    </section>


    
  

  <app-demopage></app-demopage>

</main>

<!-- footer section start here -->
<app-footer></app-footer>

