.u-header {
	color: #fff;
	height: 4.5rem;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: color .25s ease;
	width: 100%;
	z-index: 10
}

@supports (color:var(--var)) {
	.u-header {
		color: var(--header-color, #fff)
	}
}

@media only screen and (min-width:64em) {
	.u-header {
		transform: translateY(2.25rem)
	}
	.u-header,
	.u-header--fixed {
		transition: color .25s ease, transform .25s ease, opacity .25s ease
	}
	.u-header--fixed {
		transform: none
	}
}

.u-header--mobile {
	height: 3.5rem;
	width: 100vw
}

.u-header--default {
	--header-bg: #ae0000;
	--header-color: #fff
}

@media only screen and (min-width:48em) {
	.u-header--reversed {
		--header-bg: #fff;
		--header-color: #161616
	}
}

.u-header__group {
	align-items: center;
	display: flex
}

@media only screen and (max-width:47.9375em) {
	.u-header__group {
		height: 100%
	}
}

.u-header__part {
	transition: transform .25s ease
}

@media only screen and (min-width:48em) {
	.u-header__part {
		transition: transform .25s ease
	}
}

.u-header__part>* {
	pointer-events: auto
}

.is--loading .u-header__part {
	transition-delay: .25s
}

@media only screen and (max-width:47.9375em) {
	.u-header__part--logo {
		left: 50%;
		margin-left: -1.75rem;
		position: absolute;
		top: 0;
		width: 3.5rem;
		z-index: 2
	}
}

@media only screen and (min-width:48em) {
	.u-header__part--logo {
		align-items: center;
		display: inline-flex;
		transform: translate3d(-1.625rem, 0, 0)
	}
	.u-header--fixed .u-header__part--logo {
		transform: translate3d(-5.88235vw, 0, 0)
	}
}

@media only screen and (max-width:47.9375em) {
	.u-header__part--navigation {
		background: #161616;
		height: 100%;
		left: 0;
		max-width: 20rem;
		padding-top: calc(3.5rem + var(--hero-padding-offset, 0px));
		position: fixed;
		top: 0;
		width: calc(100% - 1rem)
	}
	.u-header--hidden .u-header__part--navigation {
		transform: translate3d(-100%, 0, 0)
	}
}

@media only screen and (min-width:48em) {
	.u-header__part--navigation {
		margin-left: auto;
		transform: translate3d(.9375rem, 0, 0)
	}
	.u-header--fixed .u-header__part--navigation {
		transform: translate3d(calc(5.88235vw - .625rem), 0, 0)
	}
}

.u-header__bg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ae0000
}

@media only screen and (min-width:48em) {
	.u-header__bg {
		background-color: #ae0000
	}
	@supports (color:var(--var)) {
		.u-header__bg {
			background-color: var(--header-bg, #ae0000)
		}
	}
}

@media only screen and (min-width:64em) {
	.u-header__bg {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		top: -4.5rem;
		transform: translate3d(0, -9rem, 0);
		transition: transform .25s ease;
		will-change: transform;
		z-index: 1
	}
	.u-header__bg--active {
		transform: translateZ(0);
		transition: transform 375ms ease
	}
}

.u-header .m-logo {
	color: inherit;
	display: inline-block;
	flex-shrink: 0;
	height: 3.5rem;
	vertical-align: middle;
	width: 3.5rem;
	z-index: 1
}

@media only screen and (min-width:48em) {
	.u-header .m-logo {
		margin: .5rem
	}
}

.u-header__title {
	line-height: 1.25
}

.u-header__title-chunk--1 {
	display: inline-block;
	margin-right: .5rem;
	opacity: .5
}

.u-header__toggle {
	margin: -1.5rem 0 0 -.8125rem;
	pointer-events: auto;
	position: absolute;
	top: 50%;
	z-index: 2
}

.u-header .u-navigation {
	margin: 0;
	position: relative;
	width: 100%
}

@media only screen and (min-width:48em) {
	.u-header .u-navigation {
		display: inline-block;
		text-align: right;
		vertical-align: middle
	}
}

@media only screen and (min-width:48em) {
	.u-header .u-navigation__item--all-projects {
		transform: translate3d(.9375rem, 0, 0);
		transition: transform .25s
	}
	.u-header--fixed .u-navigation__item--all-projects {
		transform: translate3d(calc(5.88235vw - .625rem), 0, 0)
	}
}

@media only screen and (max-width:47.9375em) {
	.u-header .u-navigation__item--expandable {
		display: block;
		transition: transform .25s ease, opacity .25s ease
	}
	.u-header .u-navigation__item--expandable--langs {
		display: flex;
		margin-left: 0;
		padding: 1rem 5.88235vw
	}
	.u-header--hidden .u-navigation__item--expandable {
		opacity: 0;
		transform: translateX(-2.77778vw)
	}
	.u-header--hidden .u-navigation__item--expandable:nth-child(n) {
		transition-delay: 0ms
	}
	.u-header .u-navigation__item--expandable:first-child {
		transition-delay: 175ms
	}
	.u-header .u-navigation__item--expandable:nth-child(2) {
		transition-delay: 225ms
	}
	.u-header .u-navigation__item--expandable:nth-child(3) {
		transition-delay: 275ms
	}
	.u-header .u-navigation__item--expandable:nth-child(4) {
		transition-delay: 325ms
	}
	.u-header .u-navigation__item--expandable:nth-child(5) {
		transition-delay: 375ms
	}
	.u-header .u-navigation__item--expandable:nth-child(6) {
		transition-delay: 425ms
	}
	.u-header .u-navigation__item--expandable:nth-child(7) {
		transition-delay: 475ms
	}
}

@media only screen and (max-width:47.9375em) {
	.u-header .u-navigation__link {
		padding-left: 5.88235vw;
		padding-right: 5.88235vw
	}
	.u-header .u-navigation__link:before {
		left: 0;
		right: auto;
		width: 2px
	}
	.u-header .u-navigation__link--active .u-navigation__label {
		color: inherit
	}
}

@media only screen and (min-width:48em) {
	.u-header .u-navigation__link--active .u-navigation__label {
		color: var(--header-bg, #ae0000)
	}
}

.anchor {
	height: 0;
	pointer-events: none;
	position: absolute;
	top: -4.75rem;
	width: 1px
}

@media only screen and (min-width:48em) {
	.u-header--mobile {
		display: none
	}
}

@media only screen and (max-width:47.9375em) {
	.u-header--main {
		display: none
	}
}

.u-header__pagination {
	left: 50%;
	margin-left: -3.25rem;
	margin-top: -1.625rem;
	pointer-events: auto;
	position: absolute;
	text-align: center;
	top: 50%;
	z-index: 2
}

.u-header__pagination .m-link {
	align-items: center;
	display: inline-flex;
	height: 3.25rem;
	justify-content: center;
	margin: 0;
	vertical-align: middle;
	width: 3.25rem
}

.u-navigation {
	max-width: none
}

.u-navigation__item {
	font-size: .9375rem;
	display: inline-block;
	vertical-align: middle
}

@media only screen and (min-width:48em) {
	.u-navigation__item {
		font-size: 1rem
	}
}

@media only screen and (min-width:70.25em) {
	.u-navigation__item {
		font-size: 1.0625rem
	}
}

@media only screen and (min-width:88.125em) {
	.u-navigation__item {
		font-size: 1.125rem
	}
}

.u-navigation__item--all-projects {
	display: none;
	margin-bottom: 0;
	margin-top: -1.625rem;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 2
}

@media only screen and (max-width:47.9375em) {
	.u-navigation__item--all-projects .u-navigation__link {
		padding-right: 0
	}
}

.u-navigation__link {
	color: inherit;
	display: block;
	height: 3.25rem;
	line-height: 1.25rem;
	padding: 1rem;
	position: relative
}

.u-navigation__link:before {
	background: currentColor;
	bottom: .5rem;
	content: "";
	left: .5rem;
	opacity: 0;
	position: absolute;
	right: .5rem;
	top: .5rem
}

.u-navigation__link--active:before {
	opacity: 1
}

.u-navigation__label {
	position: relative
}

.u-navigation__link--active .u-navigation__label {
	color: #161616
}

.u-navigation__icon {
	margin-left: 1rem;
	margin-top: -.25em
}

@media only screen and (min-width:48em) {
	.u-footer,
	.u-footer-block {
		margin-top: -1px;
		min-height: 31.25vw;
		z-index: 1
	}
}

@media only screen and (min-width:48em) {
	.u-footer-block__wrapper,
	.u-footer>.group {
		min-height: 24rem
	}
}

@media only screen and (min-width:48em) {
	.u-footer-block {
		-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0)
	}
}

.u-footer {
	background: #161616;
	bottom: 0;
	left: 0;
	position: relative;
	width: 100%
}

@media only screen and (max-width:47.9375em) {
	.u-footer>.group {
		--group-spacing-top: 1
	}
}

.u-footer .block__bg {
	transition: opacity .25s ease
}

.u-footer--hover .block__bg {
	opacity: 0
}

@media only screen and (min-width:48em) {
	.u-footer {
		align-items: center;
		display: flex;
		justify-content: center;
		position: fixed
	}
}

@media only screen and (max-width:47.9375em) {
	.u-footer {
		transition: transform .25s ease
	}
	.page--menu-active .u-footer {
		transform: translateX(10rem)
	}
}

.u-footer>.group {
	align-items: center;
	display: flex
}

.u-footer-ctas {
	display: flex;
	flex-wrap: wrap;
	width: 100%
}

.u-footer-ctas__cta {
	width: 100%
}

@media only screen and (min-width:48em) {
	.u-footer-ctas__cta {
		margin-left: -2rem;
		margin-right: auto;
		padding: 2rem;
		width: auto
	}
}

.u-footer-ctas__cta.m-link [data-link-pseudo] {
	line-height: .9;
	text-decoration: underline
}

.u-footer-ctas__cta.m-link [data-link-pseudo]:after {
	top: 45%
}

@media only screen and (min-width:48em) {
	.u-footer-ctas__cta--primary {
		padding-right: 0
	}
}

.u-footer-ctas__cta--secondary.m-link {
	--link-opacity-hover: 1
}

@media only screen and (max-width:47.9375em) {
	.u-footer-ctas__cta--secondary .m-heading--h2 {
		--heading-spacing-top: 0.1
	}
}

@media only screen and (min-width:48em) {
	.u-footer-ctas__cta--secondary {
		margin-left: 1rem;
		margin-right: -2rem;
		margin-top: auto;
		padding-left: 1rem;
		white-space: nowrap
	}
}

@media only screen and (max-width:26.1875em) {
	.u-footer-ctas .m-heading--h2 {
		font-size: 2.5em
	}
}

@media only screen and (max-width:20.5625em) {
	.u-footer-ctas .m-heading--h2 {
		font-size: 2em
	}
}

.u-footer-ctas .m-heading--pre {
	max-width: none
}

.u-footer__links {
	font-size: .8125rem;
	bottom: 0;
	font-weight: 600;
	margin: 0;
	max-width: none;
	padding: 0 0 1rem;
	width: 100%
}

@media only screen and (min-width:48em) {
	.u-footer__links {
		font-size: .8125rem
	}
}

@media only screen and (min-width:70.25em) {
	.u-footer__links {
		font-size: .875rem
	}
}

@media only screen and (min-width:88.125em) {
	.u-footer__links {
		font-size: .9375rem
	}
}

@media only screen and (min-width:48em) {
	.u-footer__links {
		padding-top: 1rem;
		position: absolute
	}
}

@media only screen and (min-width:48em) {
	.u-footer__links>.group {
		display: flex
	}
}

.u-footer__links .u-lang-selector {
	margin-left: 1.5rem
}

.u-footer__links-list {
	flex: 1
}

.u-footer__item {
	display: inline-block;
	margin: 0 1rem 0 0;
	vertical-align: top
}

@media only screen and (min-width:48em) {
	.u-footer__item {
		margin: 0 0 0 1rem
	}
	.u-footer__links .u-footer__item {
		margin: 0 1rem 0 0
	}
}

.component-fade-enter-active,
.component-fade-leave-active,
.transition-loader-enter-active,
.transition-loader-leave-active {
	transition-duration: .35s
}

.route {
	position: relative
}

.route__load,
.route__load--0,
.route__load--2,
.route__load--3 {
	opacity: 0;
	transition: opacity .25s ease
}

.page--loaded .route__load--0 {
	opacity: 1;
	transition-delay: 0ms
}

.page--loaded .route__load {
	opacity: 1;
	transition-delay: .25s
}

.page--loaded .route__load--2 {
	opacity: 1;
	transition-delay: .5s
}

.page--loaded .route__load--3 {
	opacity: 1;
	transition-delay: .75s
}

.loader {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: 101
}

.loader__layer {
	background: #ae0000;
	height: 150vmax;
	margin: -75vmax 0 0 -75vmax;
	width: 150vmax
}

.loader>.m-logo,
.loader__layer {
	left: 50%;
	position: absolute;
	top: 50%
}

.loader>.m-logo {
	margin: -6.25vmax 0 0 -6.25vmax;
	max-width: none;
	width: 12.5vmax
}

.loader {
	transform: translateX(100vw);
	transition: transform 0ms .35s
}

.loader__logo {
	transform: scale(0) translateZ(0);
	transition: opacity .25s ease, transform .25s ease-out .1s
}

.loader__logo--hidden {
	opacity: 0
}

.loader__layer {
	transform: scale(0) rotate(45deg) translateZ(0);
	transition: transform .25s ease .1s
}

.loader--active {
	transform: none;
	transition-delay: 0ms
}

.loader--active .loader__logo {
	transform: scale(1) translateZ(0);
	transition: opacity .25s ease, transform .25s cubic-bezier(.17, .89, .25, 1.15) 125ms
}

.loader--active .loader__layer {
	transform: scale(1) rotate(45deg) translateZ(0);
	transition: transform .25s ease
}

.u-press-grid {
	display: grid;
	grid-template-columns: repeat(var(--u-press-grid-columns, 1), 1fr);
	width: 100%
}

@media only screen and (min-width:22.5em) and (max-width:44.9375em) {
	.u-press-grid {
		--u-press-grid-columns: 2
	}
}

@media only screen and (min-width:45em) and (max-width:89.9375em) {
	.u-press-grid {
		--u-press-grid-columns: 3
	}
}

@media only screen and (min-width:90em) {
	.u-press-grid {
		--u-press-grid-columns: 4
	}
}

.u-press-grid .u-press {
	max-width: none
}

.u-press {
	--block-quote-opacity: 1;
	--link-opacity-idle: 0.66;
	color: var(--u-press-color, #f5f5f1);
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	max-width: 22.5rem;
	min-height: calc(var(--u-press-width)*0.0625rem);
	pointer-events: auto;
	position: relative;
	vertical-align: top;
	width: 100%
}

.u-press--light {
	--u-press-color: #161616;
	--u-press-bg: #f5f5f1
}

.u-press__bg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background: var(--u-press-bg, #ae0000)
}

.u-press__wrapper {
	display: grid;
	flex-direction: column;
	flex-grow: 1;
	grid-gap: 5.88235%;
	grid-template-columns: 100%;
	grid-template-rows: 20% 1fr auto;
	min-height: inherit;
	padding: 2.94118% 5.88235% 5.88235%
}

.u-press__source {
	display: flex;
	flex-direction: column;
	font-size: calc(1.25rem*var(--u-press-width)/320);
	justify-content: center;
	position: relative
}

.u-press__source .m-heading {
	font-size: inherit
}

.u-press__source .m-company-logo--inline {
	font-size: .5em;
	max-width: 75%
}

.u-press .m-blockquote {
	font-size: calc(((160 - var(--u-press-length))*0.00609rem + 1.5rem)*var(--u-press-width)/320);
	margin-bottom: auto;
	position: relative;
	word-break: break-word
}

.u-press__link {
	display: table;
	justify-self: flex-start;
	margin-bottom: 0;
	max-width: 100%
}