@media only screen and (min-width:48em) {
	.v-services-hero .group {
		display: grid;
		grid-gap: 0 6.66667%;
		grid-template-columns: 46.66667% 46.66667%
	}
}

.v-services-hero__heading .h1 {
	margin-bottom: .66em
}

@media only screen and (min-width:48em) {
	.v-services-hero__heading {
		grid-column: 1/-1
	}
}

.v-services-hero__list {
	position: relative
}

@media only screen and (max-width:47.9375em) {
	.v-services-hero__list .m-list {
		--list-spacing-bottom: 0
	}
}

.v-services-hero__list .m-button {
	max-width: 23em
}

.v-services-grid {
	overflow: hidden
}

.v-services-grid__item {
	min-height: 62.5vw;
	width: 100%
}

@media only screen and (min-width:35em) {
	.v-services-grid .u-service {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 52.94118vw 35.29412vw;
		grid-template-rows: auto auto 1fr
	}
}

.v-services-grid .u-service__heading {
	--heading-spacing-top: 0
}

@media only screen and (max-width:34.9375em) {
	.v-services-grid .u-service__heading {
		display: block
	}
}

@media only screen and (min-width:35em) and (max-width:47.9375em) {
	.v-services-grid .u-service__heading {
		grid-column: 1/-1
	}
}

@media only screen and (max-width:34.9375em) {
	.v-services-grid .u-service__heading .m-icon {
		display: block;
		height: 3.375rem;
		margin-bottom: .4em;
		width: 3.375rem
	}
}

@media only screen and (min-width:35em) {
	.v-services-grid .u-service__heading .m-icon {
		margin-right: .2em;
		margin-top: calc(-2.25rem + .4em)
	}
}

.v-services-grid .u-service__copy,
.v-services-grid .u-service__list {
	position: relative;
	z-index: 2
}

@media only screen and (min-width:35em) {
	.v-services-grid .u-service__copy,
	.v-services-grid .u-service__list {
		--paragraph-spacing-top: 0;
		grid-column: 1
	}
}

@media only screen and (min-width:48em) {
	.v-services-grid .u-service__copy,
	.v-services-grid .u-service__list {
		width: calc(100% - 5.88235vw)
	}
}

.v-services-illo {
	align-items: center;
	align-self: flex-start;
	display: flex;
	height: auto;
	left: -8.33333%;
	margin: 2rem auto 0;
	max-width: 15rem;
	position: relative;
	width: 100%
}

@media only screen and (min-width:35em) {
	.v-services-illo {
		grid-column: 2;
		grid-row: 2/span 2
	}
}

@media only screen and (min-width:48em) {
	.v-services-illo {
		grid-row: 1/span 3;
		left: 0;
		margin-top: 0;
		max-width: 30rem
	}
}

@media only screen and (min-width:88.125em) {
	.v-services-illo {
		max-width: 480px
	}
}

@media only screen and (min-width:106.25em) {
	.v-services-illo {
		max-width: 600px
	}
}

.v-services-illo__layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	opacity: var(--services-illo-opacity, 1);
	transform: var(--services-illo-transform, none);
	width: 100%
}

.v-services-illo__layer [fill="#AE0000"],
.v-services-illo__layer [fill="#ae0000"] {
	fill: var(--block-bg)
}

.v-services-illo__layer--first {
	display: block;
	position: relative
}

.v-services-illo--active .v-services-illo__layer {
	opacity: var(--services-illo-opacity-active, 1);
	transform: var(--services-illo-transform-active, none);
	transition: var(--services-illo-transition, none)
}

.v-services-illo--design {
	transform: translateY(15%)
}

.v-services-illo--design.v-services-illo--active {
	transform: none;
	transition: transform 375ms cubic-bezier(.17, .89, .25, 1.15) 375ms
}

[class*=v-services-illo__layer--design-device-] {
	--services-illo-opacity: 0;
	--services-illo-transform: translateY(5%);
	--services-illo-transition: opacity 187.5ms var(--illo-delay, 0ms) ease, transform 375ms var(--illo-delay, 0ms) cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--design-device-2 {
	--illo-delay: 93.75ms
}

.v-services-illo__layer--design-device-3 {
	--illo-delay: 187.5ms
}

.v-services-illo__layer--design-device-4 {
	--illo-delay: 375ms;
	transform: translateY(-20%)
}

.v-services-illo--enterprise {
	transform: translateY(-10%)
}

.v-services-illo--enterprise.v-services-illo--active {
	transform: none;
	transition: transform 375ms cubic-bezier(.17, .89, .25, 1.15)
}

[class*=v-services-illo__layer--enterprise-block-] {
	--services-illo-transform: translateY(8.5%);
	--services-illo-transition: transform 375ms 375ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo--growth {
	overflow: hidden
}

[class*=v-services-illo__layer--growth-bar-] {
	--services-illo-transition: 375ms var(--illo-delay, 0ms) cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--growth-without {
	--services-illo-opacity-active: 0.5;
	--services-illo-transition: 562.5ms ease
}

.v-services-illo__layer--growth-bar-1 {
	--services-illo-transform: translateY(11%);
	--services-illo-transform-active: translateY(1%);
	--illo-delay: 187.5ms
}

.v-services-illo__layer--growth-bar-2 {
	--services-illo-transform: translateY(2%);
	--services-illo-transform-active: translateY(-8%);
	--illo-delay: 281.25ms
}

.v-services-illo__layer--growth-bar-3 {
	--services-illo-transform: translateY(-6%);
	--services-illo-transform-active: translateY(-25%);
	--illo-delay: 375ms
}

.v-services-illo__layer--growth-dashes {
	--services-illo-opacity: 0;
	--services-illo-transition: 281.25ms 468.75ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--web-screen {
	--services-illo-opacity: 0;
	--services-illo-transform: translateY(1%);
	--services-illo-transition: 562.5ms cubic-bezier(0.17, 0.89, 0.36, 2)
}

.v-services-illo__layer--web-html {
	--services-illo-opacity: 0;
	--services-illo-transform: translate(1%, -0.5%);
	--services-illo-transition: 375ms 375ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--web-hello {
	--services-illo-opacity: 0;
	--services-illo-transform: translateY(4%);
	--services-illo-transition: 187.5ms 562.5ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

@media only screen and (min-width:35em) {
	.v-services-illo--marketing {
		margin: -5% auto -10%
	}
}

.v-services-illo__layer--marketing-dashes {
	--services-illo-opacity: 0;
	--services-illo-transition: 187.5ms 187.5ms ease
}

.v-services-illo__layer--marketing-arrow {
	--services-illo-opacity: 0;
	--services-illo-transform: translateY(5%);
	--services-illo-transition: 562.5ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--marketing-their-ads {
	--services-illo-transform: translateY(-25%);
	--services-illo-opacity-active: 0.3;
	--services-illo-transition: opacity 750ms ease, transform 375ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--marketing-your-ad {
	--services-illo-opacity: 0;
	--services-illo-transform: translate(-10.5%, -4.25%);
	--services-illo-transition: 375ms 187.5ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

[class*=v-services-illo__layer--mobile-icon-] {
	--services-illo-transform: scale(0.85);
	--services-illo-opacity: 0;
	--services-illo-transition: opacity 375ms var(--illo-delay) ease, transform 375ms var(--illo-delay) cubic-bezier(0.17, 0.89, 0.36, 2)
}

.v-services-illo__layer--mobile-device {
	--services-illo-transform: translateY(10%);
	--services-illo-transition: 375ms 187.5ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--mobile-icon-tablet {
	--illo-delay: 187.5ms
}

.v-services-illo__layer--mobile-icon-watch {
	--illo-delay: 281.25ms;
	transform-origin: 73% 92%
}

.v-services-illo__layer--mobile-icon-device {
	--illo-delay: 375ms;
	transform-origin: 36% 72%
}

.v-services-illo__layer--next-gen-vr {
	--services-illo-transform: translateY(-2.5%);
	--services-illo-transition: 750ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

.v-services-illo__layer--next-gen-device {
	--services-illo-transform: translateY(-5%);
	--services-illo-transition: 750ms cubic-bezier(0.17, 0.89, 0.25, 1.15)
}

@-webkit-keyframes next-gen-glow {
	0% {
		opacity: .5
	}
	10% {
		color: currentColor;
		opacity: 1
	}
	15%,
	25%,
	40%,
	80% {
		color: #1f84ff;
		opacity: 1
	}
	20%,
	30%,
	60% {
		color: #58f1ff
	}
	to {
		color: currentColor;
		opacity: 1
	}
}

@keyframes next-gen-glow {
	0% {
		opacity: .5
	}
	10% {
		color: currentColor;
		opacity: 1
	}
	15%,
	25%,
	40%,
	80% {
		color: #1f84ff;
		opacity: 1
	}
	20%,
	30%,
	60% {
		color: #58f1ff
	}
	to {
		color: currentColor;
		opacity: 1
	}
}

.v-services-illo__layer--next-gen-glow {
	--services-illo-opacity: 0.5
}

.v-services-illo__layer--next-gen-glow path {
	fill: currentColor
}

.v-services-illo--active .v-services-illo__layer--next-gen-glow {
	-webkit-animation: next-gen-glow 1125ms 1 both;
	animation: next-gen-glow 1125ms 1 both
}

.v-services-testimonials .m-block__bg {
	background-color: var(--v-services-testimonials-bg, #ae0000);
	transition: background .5s ease
}

.v-services-testimonials .m-heading {
	transition: color .25s ease
}

.v-services-testimonials--apartner {
	--v-services-testimonials-bg: #fdce9e
}

.v-services-testimonials--artwired {
	--v-services-testimonials-bg: #241325
}

.v-services-testimonials--dci-capital {
	--v-services-testimonials-bg: #811717
}

.v-services-testimonials--mysteryvibe {
	--v-services-testimonials-bg: #39123f
}

.v-services-testimonials--mgm {
	--v-services-testimonials-bg: #a9803b
}

.v-services-testimonials--numovi {
	--v-services-testimonials-bg: #fff
}

.v-services-testimonials--verizon {
	--v-services-testimonials-bg: #ed1c23
}

.v-services-testimonials--wirecutter {
	--v-services-testimonials-bg: #6085ff
}

.v-services-testimonials .m-carousel {
	--m-carousel-gutter: 5.88235vw;
	margin-left: 5.88235vw;
	width: 76.47059vw
}

.v-services-testimonials .m-carousel__controls {
	transition: color .25s ease
}

.v-services-testimonials .m-carousel__nav {
	color: currentColor
}