
<div class="">
    <div class="clock">
      <div class="clock-circles">
        <div class="clock-circles__item"></div>
        <div class="clock-circles__item"></div>
        <div class="clock-circles__item"></div>
        <div class="clock-circles__item">
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
        </div>
      </div>
      <!-- <div class="clock-indicators">
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
        <div class="clock-indicators__item"></div>
      </div> -->
      <div class="clock-times">
        <div class="clock-times__second"></div>
        <div class="clock-times__minute"></div>
        <div class="clock-times__hour"></div>
      </div>
    </div>
  </div>