<div class=" container privacy_policy pb-5">

    <div class="row">
        <div class="section-head col-sm-12">
            <h1 class="text-center text-capitalize">Privacy Policy</h1>
            <p>As a service provider, we value our visitors and clients and respect their right to privacy. Therefore,
                we have designed a privacy policy to explain how their ‘Personally Identifiable Information is being
                used online.
                It is our humble request for everyone to read the entire privacy policy carefully to understand how we
                collect, use, and protect their information with our website.
                For instance, what information do we collect as soon as you sign up for our blogs, newsletters, or
                perhaps fill up an inquiry form?

            </p>


        </div>
    </div>


    <div class="same_css information_provider">
        <h3>Information You Provide</h3>

        <p>As soon as you register on our website, you may be asked to enter the following personal information.</p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Phone Number</li>
        </ul>
        <p>While filling out an inquiry form or a feedback form, for instance, you’ll be asked to enter the above
            personal information. This information helps us to provide a personalized experience for our service.</p>
    </div>




    <div class="same_css ip_address">
        <h3>IP Address</h3>
        <p>The site may access your device’s location using your Internet Protocol (IP) address. This information helps
            us to follow your country’s data compliance regulations to their fullest. We may also use your IP address to
            determine the fastest route for your device to connect to our website.</p>

    </div>

    <div class="same_css your_information">
        <h3>How do We Use Your Information?</h3>
        <p>The information, we collect from our visitors and clients is used in the following manner:</p>
        <ul>
            <li>To personalize the user experience by delivering the type of content and services as per your interests.
            </li>
            <li>To notify you regarding special offers on services via sending periodic emails.</li>
            <li>To send you reminders and confirmations as per your chosen services</li>
            <li>To send you technical notices, updates, alerts and support messages.</li>
            <li>To respond to your queries, feedback, and comments to provide better customer service and support.</li>
            <li>To notify you of the latest services, offers, news posts, and blogs, which we think will interest you.
            </li>
            <li>To analyse and manage the activities with our content and website’s performance.</li>
        </ul>
    </div>

    <div class="same_css">
        <h3>Email Management</h3>
        <p>Webapp may try to contact you via emails, which may happen due to several reasons. For instance, when you
            subscribe to our newsletters, you may receive periodic emails regarding the content update.</p>
        <p>Emails, which you’ll receive from WebApp will always contain a link in the footer, where you can unsubscribe
            altogether. You can also select your communication preferences using the same link.</p>
    </div>

    <div class="same_css">
        <h3>
            When do We Share and Disclose Your Information?
        </h3>
        <p>Our visitor’s privacy is our priority, and therefore, at every step, we make sure to protect it. We only
            share your personal information under one of the following circumstances.</p>
    </div>

    <div class="same_css">
        <h3>With your consent</h3>
        <p>When you allow WebApp to share your personal information. It may happen when you submit your information
            through our offers or services.</p>
        <p>For instance, if you decide to fill out a query form, your name, email address, and company name will be
            collected by WebApp.</p>
    </div>


    <div class="same_css">
        <h3>Legal Obligations</h3>
        <p>WebApp may also disclose your personal information when it is required to satisfy a law, regulation, legal
            process, or governmental request. It may also happen when there needs to be an investigation carried out
            regarding violation of the Term of Use, or protect the rights, or safety of WebApp and its users. Preventing
            security frauds is yet another scenario where information disclosure may be required.</p>
    </div>

    <div class="same_css">
        <h3>Business transfers</h3>
        <p>If WebApp is involved in a merger, acquisition, or any form of transfer or sale of some or all of its
            business, we may share your personal information in connection with the transaction itself.</p>
    </div>

    <div class="same_css">
        <h3>What Security Measures We Take to Protect Visitor’s Information?</h3>
        <p>To protect your information, a regular scan is carried out for security breaches and vulnerabilities to make
            your visit as safe as possible. We also use SSL certification to make sure that every transaction is safe
            and secured.</p>
    </div>

    <div class="same_css">
        <h3>Google Ad Policies</h3>
        <p>We use Google AdSense to advertise on our website. Google’s ads are always displayed as per the Google
            Advertising Principles. </p>
        <a
            href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
    </div>

    <div class="same_css">
        <h3>Google Ad Policies</h3>
        <p>We use Google AdSense to advertise on our website. Google’s ads are always displayed as per the Google
            Advertising Principles. </p>
        <a
            href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
        <p>Google, being a third-party vendor utilize cookies to display ads on our website. The DART cookie allows
            Google to only serve relevant ads as per the user’s interests. Users may opt-out of the use of the DART
            cookie by visiting the Google ad and content network privacy policy.</p>

        <p> <span class="">We have implemented the following:</span> Remarketing with Google AdSense
            Demographics and Interests Reporting
            We along with third-party vendors, such as Google use first-party cookies and third-party cookies together
            to compile data regarding user interactions with ad impressions, and other ad service functions as they
            visit our website.
        </p>
    </div>

    <div class="same_css">
        <h3>How Can You Opt-Out?</h3>
        <p>In case you want to set preferences to Google displaying ads to you, you can visit the Google ad setting
            page. You can also permanently opt-out by adding the Google Analytics Opt-out browser add-on. </p>

    </div>

    <div class="same_css">
        <h3>Do Not Track Signals</h3>
        <p>We honour Do Not Track Signals, and once we receive a Do Not Track Signal, we do not use advertising at all.
        </p>
    </div>

    <div class="same_css">
        <h3>COPPA (Children Online Privacy Protection Act)</h3>
        <p>Parents are put in control of the collection of personal information from children under 13. The Federal
            Trade Commission, the nation’s consumer protection agency, enforces the COPPA Rule, which states what
            operations websites and online services should do to protect children’s privacy and safety online.
            Furthermore, we do not advertise to children under 13.</p>
    </div>

    <div class="same_css">
        <h3>Fair Information Practices</h3>
        <p>To be in line with the Fair Information Practices law, we’ll take the following actions as soon as a data
            breach occurs.</p>
        <p>We will notify the user via email regarding the same within one business day.
            We also agree to the individual redress principle, which requires that every individual has a right to
            pursue legally enforceable rights against data collectors and processors who fail to follow the law itself.
            Individuals also have all the resources to trigger a legal investigation against data processors.
        </p>
    </div>

    <div class="same_css">
        <h3>CAN-SPAM Act</h3>
        <p>The CAN-SPAM Act is a law that establishes guidelines for sending commercial emails and allows the users to
            stop the emails which are being sent to them. Failure on doing so is considered a violation and penalties
            may apply.</p>
        <p> <span>To be following CAN-SPAM we agree to the following:</span> </p>
        <p> We never send misleading subjects through our emails.</p>
        <p>We include the physical address of our office headquarters.</p>
        <p>In case of an opt-out/Do Not Track signal, we make sure, the user does not receive emails from us at all.</p>
        <p>We attach a link at the end of every email from where the user can unsubscribe.</p>
    </div>

    <div class="">
        <h3>Contact Us</h3>
        <p>In case you have any queries regarding the privacy policies, feel free to contact us using the following information.</p>
        <p>WebApp</p>
        <p>20-22 Wenlock Rd, London N1 7GU, United Kingdom</p>
    </div>
    
</div>



<app-footer></app-footer>