<!-- =======================
       servies section start  card
       ====================== -->

<section>

    <div class="container">
        <div class="our_process_section">
            <div class="text-center mb-5">
                <h1 class=" pb-3"><span class="">Our Process</span></h1>
                <p>We offer more than just website design. We also develop a comprehensive digital strategy. The process
                    we follow is intended to transform your organization online. Web or application projects involve
                    art, advertising, messaging, branding, technology, and teamwork. While providing the best possible
                    outcome, we also strive to make it as seamless and transparent as possible for our clients.</p>
            </div>

        </div>
        <div class="sec-head text-center">
            <!-- <h2 class="section-heading mb-3 text-center">Our Services</h2> -->
            <div class="line"></div>
        </div>
        <div class="sec-body">
            <div class="row">
                <!-- first row -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="serviceBox">
                        <div class="serviceIcon">
                            <img class="whyIcon01 lazy" alt="Conversation UI Design"
                                src="../../assets/images/servies/strategy.png">

                        </div>
                        <h4>Strategy</h4>
                        <p>It is this phase of our digital process that is probably the most critical to your project.
                            During this phase, we gain a deep understanding of your organization, vision, and goals.
                        </p>
                        <!-- <a href="#" class="btn border-radius-30 btn-sm btn-warning mt-2">
Read More
</a> -->
                    </div>
                </div>
                <!--  end first row  -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="serviceBox">
                        <div class="serviceIcon spicon-2">

                            <img class="img-fluid " alt="Conversation UI Design"
                                src="../../assets/images/servies/creative.png">

                        </div>
                        <h4>Creative</h4>
                        <p>Designing a website to meet your goals starts at the creative phase, translating the brand
                            identity into online creations.</p>
                        <!-- <a href="#" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="serviceBox">
                        <div class="serviceIcon">
                            <img class="whyIcon01 lazy" alt="NLP Engine Integration"
                                src="../../assets/images/servies/design.png">

                        </div>
                        <h4>Design</h4>
                        <p>After defining your brand identity, ideas, and values, we use artistic inspiration to create
                            the design of your website. This step is highly collaborative and interactive. We will be in
                            constant communication with you to revise the plan based on your ideas and input.</p>
                        <!-- <a href="/ai-machine-learning-development-services" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="serviceBox">
                        <div class="serviceIcon ">
                            <img class="whyIcon01 lazy" alt="Conversation UI Design"
                                src="../../assets/images/servies/content.png">

                        </div>
                        <h4>Content</h4>
                        <p>Messaging and design must work together to communicate your brand identity, so it is only
                            natural that these phases occur concurrently. </p>
                        <p> After you complete the creative phase, you’ll have the design and message to serve as the
                            basis for a functional website.</p>
                        <!-- <a href="https://www.signitysolutions.com/enterprise-search-implementation" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="serviceBox">
                        <div class="serviceIcon ">
                            <img class="img-fluid " alt="Conversation UI Design"
                                src="../../assets/images/servies/service_02.png">
                        </div>
                        <h4>Development</h4>
                        <p>As soon as your creative design is complete, our development team will create a functional
                            website for you. </p>
                        <!-- <a href="https://www.signitysolutions.com/chatbot-development/" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 tranfromY">
                    <div class="serviceBox">
                        <div class="serviceIcon ">
                            <img class="whyIcon01 lazy" alt="NLP Engine Integration"
                                src="../../assets/images/servies/testing.png">
                        </div>
                        <h4>Testing</h4>
                        <p>The zero flaw goal we aim to reach is to build you a perfect website or app. Everything we
                            design and build is put through a battery of tests to verify that all functions are
                            implemented and your website or app renders perfectly on all devices.</p>
                        <!-- <a href="https://www.signitysolutions.com/your-team-in-india" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>


            </div>
            <!-- ========================== -->
            <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 tranfromY justify-content-between">
                    <div class="serviceBox">
                        <div class="serviceIcon ">
                            <img class="img-fluid " alt="Conversation UI Design"
                                src="../../assets/images/servies/launch.png">
                        </div>
                        <h4>Launch</h4>
                        <p>Data and content migrations are finalised, hosting is installed, and your website goes live
                            on the production servers. Once the project is live on the internet, we perform a final
                            analysis to ensure that everything is running smoothly. </p>

                        <!-- <a href="https://www.signitysolutions.com/your-team-in-india" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 tranfromY">
                    <div class="serviceBox">
                        <div class="serviceIcon ">
                            <img class="whyIcon01 lazy" alt="NLP Engine Integration"
                                src="../../assets/images/servies/evaluation.png">
                        </div>
                        <h4>Evaluation</h4>
                        <p>As your site is launched, we then test its functionality with live visitors. We use
                            cutting-edge analytics tools to assess the site’s performance and visitor behaviour. </p>
                        <!-- <a href="https://www.signitysolutions.com/your-team-in-india" class="btn border-radius-30 btn-sm btn-warning mt-2">
Explore More
</a> -->
                    </div>
                </div>
            </div>
            <!-- ========================== -->
        </div>
    </div>
</section>
<!-- =======================
     end  servies section start  card
       ====================== -->




<!-- ========================================
            our services 
   ==================================================-->
<section id="Our_services">
    <div class="service_side_section">
        <div class="container service-top-padding">
            <div class="row align-items-center ">

                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 p-4 fadeInLeft" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                    <div class="service_text_section">
                        <h3 class="service_text_heading text-capitalize">Digital Design</h3>
                        <p class="margin-bottom">By understanding what users need, we construct websites that surpass
                            expectations and deliver a lasting return on investment. </p>
                        <p class="margin-bottom">We accomplish this by diving deeply into the data and intentions behind
                            our client’s customers' digital interactions.</p>

                        <p class="margin-bottom">Based on our findings, we then provide long-term value to every
                            business we work with, fostering lasting relationships in the process.</p>
                        <div class="row text-white service_list">
                            <div class="col-lg-12">
                                <!-- <ul class="p-4 line-list ">
                                    <li>
                                        <a href="#" class="text-extra-dark-gray">Design</a>
                                    </li>
                                    <li><a href="#" class="text-extra-dark-gray">Graphic Design</a></li>
                                    <li><a href="#" class="text-extra-dark-gray">Responsive Web</a></li>
                                    <li><a href="#" class="text-extra-dark-gray">Wireframing & Prototyping</a></li>
                                    <li><a href="#" class="text-extra-dark-gray">Landing Page</a></li>

                                </ul> -->
                                <div class="service_text_section first_heading">
                                    <h2>Our Digital Design Services</h2>
                                    <p>Utilizing digital processes, we unlock opportunities for performance improvement
                                        and more effective customer engagement.</p>
                                </div>
                                <div class="service_text_section first_heading mt-3">
                                    <h2>UX Strategy</h2>
                                    <p>What are the expectations and needs of users of your website? How effectively do
                                        you cater to them throughout their journey? By utilising testing and behaviour
                                        analysis, we can provide solutions to these questions through a well-thought-out
                                        UX Strategy. </p>
                                </div>
                                <div class="service_text_section first_heading mt-3">

                                    <h2>UI Design</h2>
                                    <p>Our user interface design work ensures that the websites and applications we
                                        create are easy to navigate and easy to use. By researching and implementing, we
                                        anticipate user actions and build digital products that support these actions.
                                    </p>
                                </div>

                                <div class="service_text_section first_heading mt-3">

                                    <h2>Prototyping</h2>
                                    <p>We can provide your users with clickable prototypes of your website during the
                                        development phase using powerful prototyping tools. We will then analyse the
                                        data gathered from their interactions to help inform the next set of changes.
                                    </p>
                                </div>

                                <div class="service_text_section first_heading mt-3">

                                    <h2>API Development</h2>
                                    <p>With API development, you can incorporate rich, complex functionalities into your
                                        website. We develop API systems that expose data for transfer safely and
                                        securely for our clients.</p>
                                </div>
                                <div class="service_text_section first_heading mt-3">

                                    <h2>Customer Journey</h2>
                                    <p>By using customer journey mapping, we analyse the entire experience your
                                        customers have with you. This allows us to examine the user experience from the
                                        customer’s point of view and identify opportunities for improvement. </p>
                                </div>

                            </div>

                        </div>

                        <!-- <a href="#" class="btn btn-info">
                    Read More
                  </a> -->
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 text-center md-margin-20px-bottom wow fadeInRihgt image-box animated"
                    style="visibility: visible; margin-top: 25rem;">
                    <img src="../../assets/images/servies/5726838.png" class="img-fluid"
                        alt="artificial intelligence development">
                </div>
            </div>

        </div>
    </div>

    <!-- -----------game section--------------- -->
    <div class="service_side_section bg-light-gray">
        <div class="container">
            <div class="row align-items-center column_reverse">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6  image-box " style="margin-top: 12rem;">
                    <img class="img-fluid " src="../../assets/images/servies/game.png ">
                </div>
                <div class="col-12 col-lg-6 ">
                    <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine"
                        class="service_text_section ">
                        <h3 class="service_text_heading ">Game Development</h3>
                        <p class=" "> Our game development team at WebApp have years of experience in animation, design,
                            streamlined updates, and more. Our certified experts can help create your ideas into a
                            reality.</p>
                        <div class="row text-white service_list ">
                            <div class="col-lg-12 col-sm-12 ">
                                <!-- <ul class="p-4 line-list ">
                                    <li>A Reliable gaming engine with tons of built-in settings for 3d crafting.</li>
                                    <li>Highly scalable and Versatile</li>
                                    <li>Supports Cross-Platform Game Development</li>
                                    <li>Adaptive Interface</li>
                                </ul> -->
                                <div class="service_text_section first_heading mt-3">
                                    <h2>Video game software Solutions</h2>
                                    <p>Game development for mobile, consoles, and PC is one of our specialties. We can
                                        also offer you solution in VR and AR applications, as well as native, web, and
                                        hybrid platforms. </p>
                                </div>

                                <div class="service_text_section first_heading mt-3">
                                    <h2>Game Animation Software Solutions</h2>
                                    <p>As well as modelling, texturing, skinning, rigging, rendering, and animate gaming
                                        assets to meet your specific need, we implement physic simulations, collision
                                        detection, and particle systems based on some of the latest and most advanced
                                        gaming engines.</p>
                                </div>

                                <div class="service_text_section first_heading mt-3">
                                    <h2>2D AND 3D Gaming Software Solutions</h2>
                                    <p>We design and code custom 2D/3D graphics, animations, isometric 2.5D games,
                                        levels, characters, physics, logic, and effects for out clients</p>
                                </div>
                            </div>

                        </div>
                        <!-- <a href="# " class="btn btn-info ">
          Read More
        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- second section   -->
    <div class="service_side_section ">
        <div class="container ">
            <div class="row align-items-center ">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 ">
                    <div class="service_text_section ">
                        <h3 class="service_text_heading ">App Development</h3>
                        <p class=" "> The advent of mobile apps has brought about significant changes to consumer
                            behaviour,
                            business models, and industry specific principles. Due to the ubiquitous nature of
                            smartphones in customers pockets, mobile apps enable customers to conveniently communicate,
                            order services and make purchases wherever they are. </p>
                        <p>Developing a mobile app has the potential to change the game in their respective fields,
                            upending the well established brands and putting new players in the lead. </p>
                        <p>Whether you are looking to innovate in business, seek to improve or change industry
                            standards, or wish to empower your customers with a new tool, this is an essential
                            technology.</p>
                        <div class="row text-white service_list ">
                            <div class="col-lg-12 first_heading ">
                                <h2 class=" mt-3">Here are some interesting numbers and facts: </h2>
                                <ul class="p-4 line-list ">

                                    <li><a href="# " class="text-extra-dark-gray ">Worldwide, there are more than 3
                                            billion smartphone users, and more than 1.5 billion tablet users.</a></li>
                                    <li><a href="# " class="text-extra-dark-gray ">The majority of mobile time we spend
                                            is on apps.</a></li>
                                    <li><a href="# " class="text-extra-dark-gray ">Each day, the app stores get over 700
                                            million downloads </a></li>


                                </ul>

                            </div>

                        </div>


                        <!-- <a href="# " class="btn btn-info ">
                        Read More
                      </a> -->
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 text-center md-margin-20px-bottom wow fadeInRight image-box "
                    style="margin-top: 10rem;">
                    <img class="img-fluid " src="../../assets/images/servies/mobile.png " alt="mobile ui design ">
                </div>
            </div>
        </div>
    </div>

    <!-- ==================    
      third section start  
       =========================-->
    <div class=" service_side_section ">
        <div class="container ">
            <div class="row align-items-center column_reverse">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 text-center md-margin-20px-bottom wow fadeInLeft image-box "
                    style="visibility: visible; animation-name: fadeInLeft; " style="margin-top: 27rem;">
                    <img class="img-fluid" src="../../assets/images/servies/web.png  " alt="game development ">
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" class="col-12 col-lg-6 ">
                    <div class="service_text_section ">
                        <h3 class="service_text_heading ">Web Development</h3>

                        <div class="row text-white service_list ">

                            <div class="service_text_section first_heading mt-3">
                                <h2>Bespoke Development</h2>
                                <p>In addition to developing complex back-end system integrations, we can provide
                                    ongoing support to the team managing your website on an ongoing basis. We will
                                    collaborate with you to ensure that the appropriate wordings and workflows are used
                                    to increase the level of interaction.</p>
                            </div>
                            <div class="service_text_section first_heading mt-3">
                                <h2>Content Management</h2>
                                <p>We build secure, fast, and easy-to-use bespoke content management systems to provide
                                    the perfect fit for every business we work with. These go way beyond widely
                                    available CMS alternatives to offer exactly what our clients need.</p>
                            </div>
                            <div class="service_text_section first_heading mt-3">
                                <h2>E-COMMERCE</h2>
                                <p>We have developed e-commerce systems with features such as multiple currencies,
                                    promotional codes, personalization, and stock control. Depending on your needs, we
                                    will ensure your company is positioned well to sell products, services, and
                                    vouchers. </p>
                            </div>
                            <div class="service_text_section first_heading mt-3">
                                <h2>Front End Development</h2>
                                <p>Developers at our company have the experience to develop complex, polished solutions
                                    for new builds, website reskins, and platform design. You can rely on us to deliver
                                    customer-facing development that provides lasting results without accompanying
                                    plans.</p>
                            </div>


                            <div class="service_text_section first_heading mt-3">
                                <h2>Booking Systems</h2>
                                <p>To provide an effective and efficient booking system, our experienced development
                                    team will analyse your business's needs in-depth. Among the areas we can assist you
                                    with are API development, connecting your back-office systems, and integrating
                                    events. </p>
                            </div>
                            <div class="service_text_section first_heading mt-3">
                                <h2>Web Applications</h2>
                                <p>Our web application development services simplify processes and encourage user
                                    engagement. These aren't just websites but systems and processes we design to
                                    deliver a holistic experience for the user.</p>
                            </div>
                        </div>

                    </div>
                    <!-- <a href="# " class="btn btn-info ">
                        Read More
                      </a> -->
                </div>
            </div>
        </div>
    </div>



    <!-- forth section start  -->


    <!-- fifth section start  -->
    <div class="service_side_section bg-light-gray ">
        <div class="container ">
            <div class="row align-items-center ">

                <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 wow fadeInLeft " data-wow-delay="0.2s "
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; ">
                    <div class="service_text_section ">
                        <h3 class="service_text_heading ">Digital Marketing</h3>
                        <p class=" ">As a data-driven agency, we design digital strategies that deliver lasting returns
                            for our clients. Our award-winning digital marketing team is dedicated to all aspects of
                            online marketing.
                        </p>
                        <p>In applying our extensive experience managing campaigns across countless industries, we will
                            identify exactly where we believe your business can excel online.</p>
                        <p>We will then develop a measurable strategy that puts you in front of your customers in the
                            most effective way.</p>
                        <div class="row text-white service_list ">
                            <div class="col-lg-12 ">
                                <!-- <ul class="p-4 line-list">
                                    <li><a href="# " class="text-extra-dark-gray ">SMO/SMM</a></li>
                                    <li><a href="# " class="text-extra-dark-gray ">SEO</a></li>
                                    <li><a href="# " class="text-extra-dark-gray ">Pay Per Click</a></li>
                                    <li><a href="# " class="text-extra-dark-gray ">Content Marketing</a></li>

                                </ul> -->
                                <div class="service_text_section first_heading mt-3">
                                    <h2>SEO</h2>
                                    <p>Our comprehensive knowledge in several disciplines of SEO positions us perfectly
                                        to help your businesses succeed in search. We have a proven track record for
                                        results, analytics, and creativity.</p>
                                </div>

                                <div class="service_text_section first_heading mt-3">
                                    <h2>Social Media</h2>
                                    <p>If you are interested in driving sales, branding, or generating leads, we cover
                                        the most prevalent social media platforms. It’s not all about the following.
                                        It’s merely finding and engaging with your target register. </p>
                                </div>
                                <div class="service_text_section first_heading mt-3">
                                    <h2>CRO </h2>
                                    <p>Our conversion rate optimization service uses a data-driven process to increase
                                        the rate at which users translate their website visits into purchases.</p>
                                </div>

                            </div>

                        </div>
                        <!-- <a href="# " class="btn btn-info ">
                        Read More
                      </a> -->
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 text-center md-margin-20px-bottom wow fadeInRihgt image-box animated "
                    style="visibility: visible; " style="margin-top: 12rem;">
                    <img class="img-fluid" src="../../assets/images/servies/degital.png "
                        alt="artificial intelligence development ">
                </div>
            </div>
        </div>
    </div>

    <!-- sixth section start  -->
    <div class="service_side_section bg-light-gray ">
        <div class="container ">
            <div class="row align-items-center column_reverse">
                <div data-aos="fade-right" data-aos-offset="50" data-aos-easing="ease-in-sine"
                    class="col-12 col-lg-6 text-center artificial_section " style="visibility: visible; ">
                    <img class="img-fluid" src="../../assets/images/servies/Ai.png  "
                        alt="artificial intelligence development ">
                </div>
                <div data-aos="fade-left" data-aos-easing="ease-in-sine" class="col-12 col-lg-6 ">
                    <div class="service_text_section ">
                        <h3 class="service_text_heading " style="font-size: 70px!important ">Artificial intelligence &
                            Virtual Reality </h3>
                        <p class=" ">At WebApp, we specialize in creating completely immersive virtual reality
                            experiences, utilizing all your user’s senses and transporting them to wherever you want
                            them to go. VR technology might be the key you’ve been missing to advance your company’s
                            development.
                        </p>

                        <h3 class="service_text_heading text-capitalize" style="font-size: 40px!important ">How VR can
                            help your business: </h3>
                        <p>The goal is to make any idea you have become a virtual reality experience, such as 360-degree
                            video content, photographic content, immersive demonstrations of VR products, and
                            interactive stands at exhibitions and conferences. VR is the future, and with the help of
                            our experts will design a creative solution to bring your business into it. </p>


                        <h3 class="service_text_heading text-capitalize" style="font-size:40px!important ">AR
                            Technology: </h3>
                        <p>The concept of augmented reality refers to superimposing or layering of digital projects onto
                            the real world through a device screen. But its much more to us. We combine cutting-edge
                            tech
                            with creativity, forward-looking approaches, and technical expertise to provide you with
                            truly
                            innovative, state of the art AR software technology. </p>

                        <div class="row text-white service_list ">
                            <div class="col-lg-12 ">
                                <h5 class="pt-3">We can also create easily the following for your business needs: </h5>
                                <ul class="p-4 pt-2 line-list">
                                    <li>Connected Hardware</li>
                                    <li>Blockchain apps </li>
                                    <li>Chatbots</li>
                                    <li>IOT</li>
                                </ul>
                            </div>

                        </div>
                        <!-- <a href="# " class="btn btn-info ">
                      Read More
                    </a> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ================
   end  services card section
  =============== -->

<!-- ======================== particals section start here 
  ======================================= -->
<section class="particals_section ">
    <div class="particals_div ">
        <particles [params]="myParams" [style]="myStyle" [width]="width " [height]="height"></particles>
    </div>
    <div class="container partical_text">
        <div class="row ">
            <div class="col-7 partical_text_area">
                <h3 class="text-capitalize text-white font-weight-600 ">Do you wish to hire one of our developers for
                    your project?</h3>
                <p class="text-small text-white mt-2">From conception of a project through deployment, our team of
                    skilled developers offers tailored and end-to-end services to our tech savvy clientele.</p>
                <a [routerLink]="'/contacts'" class="nav-link moreBtn_partical_section mt-4">Get Started</a>
            </div>
            <!-- time zone  -->


            <div class="col-5 text-center text-white ">
                <div class="row ">

                    <div class="col-lg-4 col-md-6 mb-2 ">
                        <div class="clock">
                            <div class="hand hour"></div>
                            <div class="hand minute"></div>
                            <div class="hand second"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 ">

                        <app-clock-one></app-clock-one>
                    </div>
                    <div class="col-lg-4 col-md-6 m ">
                        <app-partical-one></app-partical-one>
                    </div>
                </div>
            </div>

            <!-- <div class="clock-wewe">
                <div class="row justify-content-center">
                    <div class="col-12 text-center text-white ">
                        <div class="clock">
                            <div class="hand hour"></div>
                            <div class="hand minute"></div>
                            <div class="hand second"></div>
                          </div>
                    </div>
                     <div class="col-2 text-center text-white ">
                        <app-partical-one></app-partical-one>
                    </div>
                   <div class="col-2 text-center text-white ">
                        <app-partical-one></app-partical-one>
                    </div>
                </div>
            </div> -->


        </div>
    </div>

</section>
<!-- ======================== End particals section start here 
  ======================================= -->

<!-- footer section start here -->
<app-footer></app-footer>


<!-- /.main-content -->
<script src="./js/scripts.js "></script>