<section  id="tearm_condition">
    <div class="tearms_heading">
        <h1>Terms & Condition</h1>
    </div>

    <div class="container tearms_peragraph">

        <div class="tearms_condition_content  mt-5">
            <h3>Agreement Terms</h3>
            <p>A wide range of information i.e., software, websites, products, documents, files, text, graphics,
                publications, content, forums, resources, communications, and services.</p>
            <p>To define the level of agreement between you and WebApp, the terms of use are mentioned below:</p>
        </div>

        <hr class="my-4">

        <div class="tearms_condition_content">
            <h3>Guidelines for Trademark</h3>
            <p>Before using this website, carefully read the terms of use. With this agreement, you are bound by the
                described terms of use, by accessing and using the WebApp website in any way without limitation,
                browsing the website, using any information, content, services, downloading any materials, and/or
                placing an order for products or services. </p>
            <p>Do not use this website in any manner, if you do not wish to abide by all of the terms and conditions.
                All the terms of use are mentioned by and between you and WebApp. While using the WebApp website on
                behalf of your employer, you should represent that you are authorized to accept these Terms of Use on
                behalf of your employer. At a sole discretion, WebApp reserves the right to change, modify, update, add,
                or remove portions of the Terms of Use at any time without notice. </p>
            <p>Please check for any changes in these Terms of Use. Following the posting of changes to the Terms of Use,
                your continued use of the WebApp website will mean you accept those changes.</p>
        </div>
<hr class="my-4">
        <div class="tearms_condition_content">

            <h3>Limitations of materials usage</h3>
            <p>WebApp, its subsidiaries, affiliated companies, and/or third-party licensors owned all the assets
                contained in the website and these properties are copyrighted. WebApp, or its subsidiaries or affiliated
                companies and/or third-party licensors have the proprietary for all trademarks, service marks, and trade
                names. </p>
            <p>WebApp’s materials and services are only for your personal and non-commercial use unless otherwise
                specified, and without the written permission from WebApp, you may not modify, copy, distribute,
                transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell
                any information, software, products or services obtained from the website.</p>
        </div>
        <hr class="my-4">

        <div class="tearms_condition_content">
            <h3>Rights Restriction</h3>
            <p>Consent to copy the design, look and feel, content or layout of the WebApp website are not included in
                the consent to use documents and publications. Elements of the WebApp website which are protected by
                law, such as trade dress, trademark, unfair competition, and other laws and may not be copied or
                imitated in whole or in part. Unless expressly permitted by WebApp, no logo, graphic, sound, or image
                from the website may be copied or retransmitted.</p>
        </div>
        <hr class="my-4">

        <div class="tearms_condition_content">
            <h3>Promotions and Advertising</h3>
            <p>WebApp on the website has the right to run campaigns, advertisements, and promotions from third-party
                organizations. WebApp’s extent of advertising, the manner, and mode will be subject to change. If
                correspondence or business dealings with or participation in promotions of advertisers other than WebApp
                are found on or through the website including payment and delivery of related goods or services, and any
                other terms, conditions, warranties, or representations associated with such dealings, are solely
                between you and such advertiser. For any loss or damage of any kind incurred as the result of any such
                dealings or as the result of the presence of such non- WebApp advertisers on the website, WebApp is not
                held responsible or liable.</p>
        </div>
        <hr class="my-4">

        <div class="tearms_condition_content">
            <h3>General Terms</h3>
            <p>The entire agreement between you and WebApp contained the Terms of Use, and overruling any prior
                agreements on the subject matter (including, but not limited to, any prior versions of the Terms of
                Use). In this Terms of Use, despite the prior provision, to the extent, and only to the extent, that any
                terms set forth expressly contradicts any terms of a prior written agreement between you and WebApp in
                effect as of the date of your use of the website and specifically regarding your use of the website
                (“Executed Agreement?), set forth such contradictory terms in the Executed Agreement shall govern. When
                you use other WebApp services, you also may be subject to additional terms and conditions that may apply
                third-party content or third-party software. The Terms of Use must not be assigned by you or otherwise
                transfer or any right granted hereunder.</p>
            <p>For any damage to your computer system, or loss of data that results from the download of any content,
                materials, and information from the site, WebApp will bear no responsibility.</p>
            <p>WebApp headquarters and delivery centre in UK, controls and operates this website, and makes no
                representation that this website is appropriate or available for use in other locations. Use of this
                website from other locations, responsible for compliance with applicable local laws including but not
                limited to the export and import regulations of other countries.</p>
            <p>WebApp’s failure to exercise or enforce any right or provision of the Terms of Use does not constitute a
                waiver of such right or provision. Any provision of the Terms of Use to be invalid by the court of
                competent jurisdiction, the parties nevertheless agree that the court should endeavour to give effect to
                the parties intentions as reflected in the provision, and the other provisions of the Terms of Use
                remain in full force and effect. Any claim or cause of action arising out regardless of any statute or
                law to the contrary, or related to use of the website or the Terms of Use must be filed within one year
                after such claim or cause of action arose or be forever barred. In the Terms of Use, the section titles
                are for convenience only and have no legal or contractual effect.</p>

            <p>At any time, WebApp may change or revise the terms by updating this posting. You agree to be bound by
                using this website with any such revisions and should therefore periodically visit this page to
                determine the current terms to which you are bound.</p>


        </div>

        <div class="tearms_condition_content">



        </div>


    </div>

</section>

<app-footer></app-footer>